.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.text-transform-capitalize {
  text-transform: capitalize;
}

.padding-10 {
  padding: 10px;
}

.line {
  width: 100%;
  border: salmon 1px solid;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.content-flex-card {
  flex: 20%;
  border: 1px solid lightgray;
  margin: 10px;
  border-radius: 3px;
}

.img-rounded {
  border: 1px solid lightgray;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */