.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: lightcoral;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.header-link {
  margin-right: 5px;
  text-decoration: none;
}

.color-white {
  color: white !important;
}