.post-card {
  flex: 20%;
  border: 1px solid lightgray;
  margin: 10px;
  border-radius: 3px;
}

.post-image {
  height: 230px;
  width: 100%;
}

.customize-post-user {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  color: gray;
}