.modal-background {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.86);
}

.modal-card {
  margin: 0 auto;
  display: block;
  margin-top: 15%;
  width: 50%;
  /* height: 60%; */
  background-color: lightgray;
  border-radius: 5px;
}